# default .gitignore for student git repos
# mchang & jzelenski September 2017

# no track object files, vim swapfiles, emacs backup/tmp files
# compiled soln files
# these patterns have no anchor so as to match anywhere
*.o
.*.sw?
*~
.\#*
\#*


# explicitly name project executables here, soln executables too
# do anchor to top-level dir

# bomb executable IS tracked, do not add to ignore!! 
/atm
/protected_atm
/create_password